<mat-stepper #stepper>
  <mat-step [stepControl]="userForm">
    <form [formGroup]="userForm">
      <ng-template matStepLabel>Fill out User info</ng-template>
      <mat-form-field>
        <mat-label for="firstName">First Name</mat-label>
        <input matInput formControlName="first_name" name="firstName"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="lastName">Last Name</mat-label>
        <input matInput formControlName="last_name" name="lastName"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="phone">Phone</mat-label>
        <input matInput formControlName="phone" name="phone"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="dob">Date of Birth</mat-label>
        <input matInput [matDatepicker]="dobPicker" formControlName="date_of_birth" name="dob"/>
        <mat-datepicker #dobPicker/>
        <mat-datepicker-toggle [for]="dobPicker" matSuffix/>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="hireDate">Hire Date</mat-label>
        <input matInput [matDatepicker]="hirePicker" formControlName="hire_date" name="hireDate"/>
        <mat-datepicker #hirePicker/>
        <mat-datepicker-toggle [for]="hirePicker" matSuffix/>
      </mat-form-field>
      <div>
        <button matButton matStepperNext>
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="addressForm" label="FIll out User address">
    <form [formGroup]="addressForm">
      <mat-form-field>
        <mat-label for="street">Street</mat-label>
        <input matInput formControlName="street" name="street"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="city">City</mat-label>
        <input matInput formControlName="city" name="city"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="zipCode">Zip Code</mat-label>
        <input matInput formControlName="zip_code" name="zipCode"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="country">Country</mat-label>
        <input matInput formControlName="country" name="country"/>
      </mat-form-field>
    </form>
    <div>
      <button matButton matStepperPrevious>
        Previous
      </button>
      <button matButton matStepperNext>
        Next
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="departmentForm" label="Select Department">
    <form [formGroup]="departmentForm">
      <mat-form-field>
        <mat-label for="selectDepartment">Select Department</mat-label>
        <mat-select formControlName="id" (selectionChange)="onDepartmentChange($event.value)"  name="selectDepartment">
          @for (item of (availableDepartments()).data; track $index) {
            <mat-option [value]="item.id"> {{item.name}} </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="deptDescription">Description</mat-label>
        <input matInput formControlName="description" name="deptDescription"/>
      </mat-form-field>
    </form>
    <div>
      <button matButton matStepperPrevious>
        Previous
      </button>
      <button matButton matStepperNext>
        Next
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="positionForm" label="Select Position">
    <form [formGroup]="positionForm">
      <mat-form-field>
        <mat-label for="selectPosition">Select Position</mat-label>
        <mat-select formControlName="id" (selectionChange)="onPositionChange($event.value)"  name="selectPosition">
          @for (item of (availablePositions()).data; track $index) {
            <mat-option [value]="item.id"> {{item.title}} </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
    <div>
      <button matButton matStepperPrevious>
        Previous
      </button>
      <button matButton (click)="onSubmit()" [disabled]="!userForm.valid || !addressForm.valid || !departmentForm.valid || !positionForm.valid">
        Submit
      </button>
    </div>
  </mat-step>
</mat-stepper>
