.department-filter {
  width: 100%;
  background-color: rgba($color: #3344b8b5, $alpha: 0.35);

  .inputs {
    margin: 0.5em;
    float: left;
  }

  .btns {
    position: absolute;
    right: 0px;
    margin-right: 0.5em;
  }

  mat-form-field {
    min-width: 20em;
  }
}

mat-form-field {
  ::ng-deep
  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}
