.drawer {
  height: 100vh;

  .drawer-nav {
    max-width: 18%;
    height: 100vh;
    background: rgba($color: #3330de, $alpha: 0.3);
    border-radius: 0%;

    .navs  {
      margin-top: 5.5em;
    }

    .nav-btn {
      width: 7em;
    }

    button {
      display: flex;
      flex-direction: column;
      margin: 2.8em auto;

      color: aliceblue;

      &:hover {
        background-color: #3330de90;
        transform: scale(1.15);
        transition: background-color 1s ease-in, transform 1.2s ease-in;
      }
    }
  }
}

.overview:hover {
  color: aliceblue;
  transition: color 0.7s ease-in;
  cursor: pointer;
}

.barriere {
  margin: auto;
}

.toolbar {
  background-color: rgba($color: #3330de, $alpha: 0.6);

  .mat-mdc-icon-button {
    margin: 0.7em;
  }
}
