.user-filter {
  background: rgba($color: #5040a7, $alpha: 0.3);

  display: flex;
  justify-content: space-between;
  mat-form-field {
    min-width: 20em;
  }
}

.user-filter > :not(:last-child) {
  margin: auto 1.5rem;
}

mat-form-field {
  ::ng-deep
  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}

