<mat-drawer-container class="fdrawer" autosize>
  <mat-drawer #fDrawer mode="side" closed>
    <div class="forum-navs">
      @for (item of []; track $index) {}
    </div>
  </mat-drawer>

  <mat-toolbar class="forum-toolbar">
    <button matIconButton (click)="fDrawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    @if (isUserLoggedIn()) {
      <button matButton (click)="clearStorage()" >
        Logout
      </button>
    }
  </mat-toolbar>
  <div class="forum-outlet">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>


