.edit-card {
  width: 32em;
  margin: auto;

  mat-card-actions {
    margin: 0.8em 2em;
    justify-content: end;
  }
}

.form-fields {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  mat-form-field {
    max-width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

form {
  mat-form-field {
    width: 70%;
    margin: 0.65em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.skill-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em auto;
  align-items: center;
  width: 70%;
  gap: 0.5em;

  mat-form-field {
    width: 100% !important;
    margin: 0 !important;
  }

  .add-btn, .mat-mdc-icon-button {
    margin-bottom: 20px;
  }
}
