@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.cancel-btn  {
  &.mdc-button,
  &.mat-mdc-button-base,
  &.mdc-button--unelevated,
  &.mat-mdc-unelevated-button,
  &.mat-unthemed {
    border-radius: 8px !important;
    background-color: rgba($color: #e50000, $alpha: 0.55) !important;
    color: whitesmoke !important;
    margin: 0.4em;
  }
}

.edit-btn {
  &.mdc-button,
  &.mat-mdc-button-base,
  &.mdc-button--raised,
  &.mat-mdc-raised-button,
  &.mat-unthemed {
    border-radius: 12px;
    background-color: rgba($color: #8100e1, $alpha: 0.55) !important;
    color: white !important;
    margin: 0.4em;
  }
}

.add-btn {
  &.mdc-button,
  &.mat-mdc-button-base,
  &.mdc-button--raised,
  &.mat-mdc-raised-button,
  &.mat-unthemed {
    border-radius: 8px;
    background-color: rgba($color: #3550e5, $alpha: 0.55) !important;
    color: white !important;
  }
}

.edit-btn:disabled {
  background-color: rgba($color: #888, $alpha: 0.7) !important;
}

.add-btn:disabled {
  background-color: rgba($color: #888, $alpha: 0.7) !important;
}

.snackbar-success {
  .mdc-snackbar__surface, .mat-mdc-snackbar-surface {
    background: rgba($color: #5333ae, $alpha: 0.9) !important;
  }
}

.snackbar-error {
  .mdc-snackbar__surface, .mat-mdc-snackbar-surface {
    background: rgba($color: #de4444, $alpha: 0.9) !important;
  }
}
